/* styles.css */

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    margin-top: 20px;
    color:  #4CAF50;
}

/* Formulario */
form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

form input[type="text"],
form select,
form input[type="date"] {
    width: calc(100% - 20px); /* Restar 20px para compensar el padding del formulario */
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid red;
    border-radius: 5px;
    box-sizing: border-box;
}

form button {
    width: calc(100% - 20px); /* Restar 20px para compensar el padding del formulario */
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

/* Tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 2px solid red;
    padding: 10px;
    text-align: left;
}

thead {
    background-color: #4CAF50;
    color: red;
}

tbody tr:nth-child(even) {
    background-color: re#f2f2f2;
}

/* Botón de eliminar en la tabla */
table button.delete-button {
    padding: 5px 10px;
    background-color: #ff5c5c;
    color: red;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

table button.delete-button:hover {
    background-color: #ff3333;
}
.delete-button {

    background-color: red;
}
